/*------------------------------------*\
    $ ALERTS
\*------------------------------------*/
.alert {
  border-top-right-radius:    0;
  border-bottom-right-radius: 0;
  display:                    inline-block;
  float:                      right;
  clear:                      both;

  a {
    text-decoration: underline;
  }
  
  &-container{
    position:   fixed;
    right:      0;
    z-index:    10000;
    top:        20px;
    width:      auto;
    text-align: right;
  }
}