/*------------------------------------*\
    $ BUTTONS
\*------------------------------------*/
@each $name, $color in $list-etat {
  /* - - - - - - - - - - - - *\
      $ .btn-{{color}}
  \* - - - - - - - - - - - - */
  .btn-#{$name} {
    background-color: $color;
    border-color: $color;
    
    &:hover {
      background-color: darken($color, 5);
      border-color: darken($color, 7);
    }
    &:disabled {
      background-color: desaturate(lighten($color, 40), 50);
      border-color: desaturate(lighten($color, 37), 50);
    }
  }
}

.btn.disabled, .btn:disabled,{
  opacity: 1;
  cursor: not-allowed;
}

.form-control:disabled, .form-control[readonly]{
  color: #c6c8cb;
  cursor: not-allowed;
}

/*------------------------------------*\
    $ BUTTONS CIRCLE
\*------------------------------------*/
.btn-circle {
  width:         30px;
  height:        30px;
  border:        1px solid black;
  border-radius: 50%;
  text-align:    center;
  margin-right:  15px;
  position:      relative;
  cursor:        pointer;
  transition:    border-color 300ms, transform 300ms $bounce; 
  
  &:after, &:before {
    content:       '';
    display:       inline-block;
    width:         10px;
    height:        2px;
    border-radius: 2px;
    @extend        %center-absolute_xy;
  }

  &:hover {
    cursor:       pointer;  
    transform:    scale(1.1);
  }
}

.btn-add-ressource {
  background:  none;
  border:      none;
  margin-left: 51px;
  cursor:      pointer;
  align-items: center;

  &:hover .btn-circle {
    border-color: $primary;
    transform:    scale(1.1);
  }
}
