.ff-title{ font-family: $ff-title; }
.ff-body { font-family: $ff-body;  }

@each $name, $color in $list-color {
  /* - - - - - - - - - - - - *\
      $ .{{color}}
  \* - - - - - - - - - - - - */
  .#{$name} {
    color: $color;
    & g {
      fill: $color;
    }
  }
  /* - - - - - - - - - - - - *\
      $ .bg-{{color}}
  \* - - - - - - - - - - - - */
  .bg-#{$name} {
    background-color: $color;
    transition: all 300ms;
    &:hover, &:focus{
      background-color: darken($color, 7);
    }
  }
}